<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("slide1.jpg", class: "img-responsive") %>
      <div class="carousel-caption">
		  <h3>Hearthstone</h3>
		  <p>Deceptively Simple. Insanely Fun!</p>
      </div>
    </div>

    <div class="item">
      <%= image_tag("slide2.jpg", class: "img-responsive") %>
      <div class="carousel-caption">
		  <h3>Undertale</h3>
		  <p>Simplistic graphics and great characters</p>
      </div>
    </div>

    <div class="item">
      <%= image_tag("slide3.png", class: "img-responsive") %>
      <div class="carousel-caption">
		  <h3>Big Rigs: Over The Road Racing</h3>
		  <p>Best racing game created! 10/10 IGN</p>
      </div>
    </div>

    <div class="item">
      <%= image_tag("slide4.jpg", class: "img-responsive") %>
      <div class="carousel-caption">
		  <h3>Oculus Rift</h3>
		  <p>The future of virtual reality has arrived!</p>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="row">
	<div class="col-md-4">
		<h1>View Inventory</h1>
	</div>
	<div class="col-md-4">
		<h1>Make a Reservation</h1>
	</div>
	<div class="col-md-4">
		<h1>FAQ</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h1>About Us</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse placerat velit odio, et egestas odio pellentesque a. Aenean hendrerit laoreet sem, tincidunt consequat tortor congue eu. Integer mattis venenatis leo. Etiam sit amet mauris sed enim dapibus dapibus. Fusce sed urna vel erat luctus facilisis quis at lectus. Donec id tincidunt leo. Curabitur non aliquet est, vel porta libero. Cras lobortis turpis ligula, eget pharetra libero cursus eu. Vivamus rutrum egestas ipsum, et rutrum odio. Nam eros justo, consectetur vel risus in, tincidunt suscipit tortor.</p>
		<p>Curabitur tellus lorem, maximus vitae libero quis, euismod pulvinar felis. Duis aliquet orci odio, dapibus fringilla augue suscipit nec. Integer urna nulla, interdum at convallis vel, vehicula a sapien. Cras a nisi porttitor, vehicula tortor euismod, suscipit magna. Etiam finibus libero sed commodo lobortis. Nulla lobortis viverra fermentum. Nullam ut ipsum erat. In suscipit nulla a mi semper, a lobortis quam vehicula. In tellus ipsum, blandit et nibh eu, condimentum pulvinar libero. Sed porttitor augue pretium mauris scelerisque tincidunt. Proin cursus congue leo, eu gravida nulla hendrerit at.</p>
		<p>Ut mattis nulla nec arcu pulvinar vehicula. Suspendisse id pellentesque felis. Etiam in lorem vehicula, mattis elit eu, mattis lacus. Donec aliquet non arcu a cursus. Etiam tempor rhoncus massa. Morbi at justo ligula. Nulla facilisi.</p>
	</div>
</div>